TakeAndUploadPhoto/TakeAndUploadPhoto/bin
TakeAndUploadPhoto/TakeAndUploadPhoto/obj
TakeAndUploadPhoto/TakeAndUploadPhoto/TakeAndUploadPhoto.Android/obj
TakeAndUploadPhoto/TakeAndUploadPhoto/TakeAndUploadPhoto.Android/bin
TakeAndUploadPhoto/TakeAndUploadPhoto/TakeAndUploadPhoto.iOS/obj
TakeAndUploadPhoto/TakeAndUploadPhoto/TakeAndUploadPhoto.iOS/bin
TakeAndUploadPhoto/WebApplicationForUpload/obj
TakeAndUploadPhoto/WebApplicationForUpload/bin