<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h1>SnapSearch App APIs</h1>
    <h2>1. Root API</h2>
    <h3>https://snapsearch.azurewebsites.net/</h3>
    <h2>2. Run the Algo on Database</h2>
    <h3>https://snapsearch.azurewebsites.net/createrecords</int:result_num></h3>
    <h2>3. Search with a photo in Data base</h2>
    <h3>Note: The body of the request has to contain the photo with key: 'input_img'</h3>
    <h3>https://snapsearch.azurewebsites.net/uploadimage/int:result_num</int:result_num></h3>
    <h1>Developed by Team 9 HTW Berlin:</h1>
    <h3>1. Abdelrahman Mohamed</h3>
    <h3>2. Ahmed Abouismail</h3>
    <h3>2. Sinan Tutan</h3>
</body>
</html>